<ion-app>
  <!-- <ion-router-outlet></ion-router-outlet> -->

  <ion-list *ngIf="entityList">
    <ion-item *ngFor="let item of entityList let i = index"> 
      <ion-label>{{item.initiative}}. {{item.name}}</ion-label>
      <ion-button color="danger" (click)="this.deleteEntity(i)">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="showEntityModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-app>
